[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/Plugin
X-KDE-Derived=
Comment=Kate Plugin
Comment[af]=Kate Inplak
Comment[az]=Kate Əlavəsi
Comment[be]=Утулка для Kate
Comment[bg]=Приставка за Kate
Comment[bn]=কেট প্লাগ-ইন
Comment[br]=Lugent Kate
Comment[bs]=Kate dodatak
Comment[ca]=Connector per a Kate
Comment[cs]=Modul aplikace Kate
Comment[csb]=Plugins Kate
Comment[cy]=Ategyn Kate
Comment[da]=Kate-plugin
Comment[de]=Kate-Plugin
Comment[el]=Πρόσθετο Kate
Comment[eo]=Kodredaktila kromaĵo
Comment[es]=Complemento de Kate
Comment[et]=Kate plugin
Comment[eu]=Kate plugina
Comment[fa]=وصلۀ Kate
Comment[fi]=Kate-liitännäinen
Comment[fo]=Kate-ístingur
Comment[fr]=Module de Kate
Comment[fy]=Kate-plugin
Comment[ga]=Breiseán Kate
Comment[gl]=Plugin de Kate
Comment[he]=תוסף ל־Kate
Comment[hi]=के-एटीई प्लगइन
Comment[hr]=Kate dodatak
Comment[hu]=Kate bővítőmodul
Comment[is]=Kate íforrit
Comment[it]=Plugin di Kate
Comment[ja]=Kate プラグイン
Comment[kk]=Kate модулі
Comment[km]=កម្មវិធី​ជំនួយ Kate
Comment[ko]=셸 명령 플러그인
Comment[lo]=ປັລກອິນຂອງ Kate
Comment[lt]=Kate priedas
Comment[lv]=Kate spraudnis
Comment[mk]=Приклучок за Кате
Comment[mn]=Kate-Plugin
Comment[ms]=Plugin Kate
Comment[mt]=Plagin ta' Kate
Comment[nb]=Kate-programtillegg
Comment[nds]=Kate-Plugin
Comment[ne]=क्येट प्लगइन
Comment[nl]=Kate-plugin
Comment[nn]=Kate-programtillegg
Comment[nso]=Tsenyo ya Kate
Comment[pa]=ਕੇਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Kate
Comment[pt]='Plugin' do Kate
Comment[pt_BR]=Plug-in do Kate
Comment[ro]=Modul Kate
Comment[ru]=Модуль Kate
Comment[rw]=Icomeka rya Kate
Comment[se]=Kate-lassemoduvla
Comment[sk]=Modul Kate
Comment[sl]=Vstavek za Kate
Comment[sr]=Kate-ин прикључак
Comment[sr@Latn]=Kate-in priključak
Comment[ss]=I-plugin ye Kate 
Comment[sv]=Kate-insticksprogram
Comment[ta]=Kபதிப்பான் செருகல்
Comment[te]=కేట్ ప్లగిన్
Comment[tg]=Мутассалкунандаи Kate
Comment[th]=ปลั้กอินของ Kate
Comment[tr]=Kate Eklentisi
Comment[tt]=Kate Östämäse
Comment[uk]=Втулок Kate
Comment[uz]=Kate учун плагин
Comment[vi]=Trình bổ sung cho Kate
Comment[wa]=Tchôke divins di Kate
Comment[xh]=Iplagi efakiweyo ye Kate
Comment[zh_CN]=Kate 插件
Comment[zh_TW]=Kate 外掛程式
Comment[zu]=I-Plugin ye-Kate

[PropertyDef::X-Kate-Version]
Type=QString

[PropertyDef::X-Kate-PluginName]
Type=QString
